.instContainer {
    border: black 1px solid;
    margin: 2px auto;
    margin-bottom: 10px ;
    padding-top: 20px;
    height: 200px;
    width: 90%;
    text-decoration: none;
    color: black;
    overflow:hidden;
    box-sizing: border-box;
}